<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="exmo_client.Properties.Settings.MyDatabase_1ConnectionString"
            connectionString="Data Source=C:\projects\exmo_client\exmo_client\MyDatabase#1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>